@import "~normalize.css";
@import "variables.scss";
@import "mixins.scss";
@import "fonts.scss";
@import "header.scss";
@import "toolbar.scss";
@import "formula.scss";
@import "table.scss";
@import "dashboard.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Robot-reg', sans-serif;
    font-size: 12px;
}

.excel {
    position: relative;
    color: #888;
    height: 100%;
    max-width: 100%;
    font-size: .8rem;
}
